<div class="game-row">
    <aside>
      <p>Arcade Space Game</p>
      <button type="button" (click)="initStage()">Start Game</button>
      <button type="button" (click)="stopTick()">Stop Game</button>
      <button type="button" (click)="startTick()">Resume Game</button>
      <button type="button" (click)="backToStart()">Back To Start</button>
    </aside>
    <div class="space-canvas">
      <!-- tabindex="0" um das Canvas fokussierbar zu machen -->
      <canvas #spaceCanvas tabindex="0"></canvas>
      @if ( game.gameState === GameState.Intro ) {
        <div class="stage-intro-overlay">
          <p class="stage-intro-text">{{ game.currentStage.name }}</p>
          <p class="stage-intro-info">Get ready Player!</p>
        </div>
      }
      @if ( game.gameState === GameState.NextStage ) {
        <div class="stage-intro-overlay">
          <p class="stage-intro-info">Next Stage!</p>
        </div>
      }
      @if ( game.gameState === GameState.Finished ) {
        <div class="stage-intro-overlay">
          <p class="stage-intro-info">You have finished the game!</p>
        </div>
      }
      @if ( game.gameState === GameState.GameOver ) {
        <div class="stage-intro-overlay">
          <p class="stage-intro-text">Game Over!</p>
        </div>
      }
    </div>
</div>